@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins';
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav-menue {
    display: flex;
    justify-content: space-between;
}

nav > a {
    color: lightslategray;
    text-decoration: none;
    padding-right: 25px;
}

nav > a:hover {
    color: black;
    text-decoration: none;
    padding-right: 25px; 
}

nav > a:active {
    color: black;
    text-decoration: none;
    padding-right: 25px; 
}

.big-text {
    font-size: 18px;
}

.main-text {
    background-image: url('/assets/images/illustration-working.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-top: 70px;
}

.big-text {
    font-size: 90px;
    font-weight: bold;
}

.gray-text {
    font-size: 18px;
    color: darkgray;
}

.text-part {
    margin-top: -1rem;
}

.sign-up {
    background-color: lightblue;
    border-radius: 25px;
    color: white;
    border: none;
    height: 30px;
    cursor: pointer;
}

.btn-style {
    background-color: lightblue;
    border-radius: 25px;
    color: white;
    border: none;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
}

.advanced-statistics-section {
    background-color: lightgray;
}

.input-box {
    display: flex;
    justify-content: center;
}

.input-url {
    background-image: url('/assets/images/bg-shorten-desktop.svg');
    width: 100%;
    border-radius: 5px;
    position: relative;
    background-color: mediumpurple;
    margin-top: -3rem;
}

.inner-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.error-text {
    margin-left: 70px;
    color: magenta;
    display: none;
    margin-top: -40px;
}

#origin-url {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    margin-right: 25px;
    padding-left: 15px;
}

::placeholder {
    color: black;
    opacity: 1;
    font-size: 18px;
}

.error::placeholder {
    color: magenta;
    opacity: 1;
    font-size: 18px;
}

.btn-shorten {
    border-radius: 5px;
    background-color: lightblue;
    color: white;
    border: none;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
}

.down-side {
    margin-top: -3rem;
}

.shortened-link {
    background-color: white;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-radius: 3px;
    margin: 20px auto;
}

.slide-right {
    margin-left: 15px;
}

.slide-left {
    margin-right: 15px;
}

.shortened {
    color: turquoise;
}

.shortened > button  {
    border-radius: 5px;
    background-color: lightblue;
    color: white;
    border: none;
    height: 25px;
    width: 90px;
    cursor: pointer;
    font-size: 18px;
}

.centered {
    display: flex;
    justify-content: center;
}

.text-speach {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box {
    background-color: white;
    position: relative;
    width: 28%;
}

.margin {
    margin: 40px;
}

.circle {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: indigo;
    position: absolute;
    margin-top: -44px;
    margin-left: 15px;
}

.icon1 {
    background-image: url('/assets/images/icon-brand-recognition.svg');
    background-repeat: no-repeat;
    background-position: center;   
}

.icon2 {
    background-image: url('/assets/images/icon-detailed-records.svg');
    background-repeat: no-repeat;
    background-position: center;   
}

.icon3 {
    background-image: url('/assets/images/icon-fully-customizable.svg');
    background-repeat: no-repeat;
    background-position: center;   
}

.boost-section {
    background-color: mediumpurple;
    background-image: url('/assets/images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.boost {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    color: white;
    margin-top: -21px;
}

.footer-section {
    background-color: grey;
    color: honeydew;
    margin-top: 0;
}

.facebook {
    background-image: url('/assets/images/icon-facebook.svg');
    background-repeat: no-repeat;
    background-position: center;   
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.twitter {
    background-image: url('/assets/images/icon-twitter.svg');
    background-repeat: no-repeat;
    background-position: center;   
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.pintrest {
    background-image: url('/assets/images/icon-pinterest.svg');
    background-repeat: no-repeat;
    background-position: center;   
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.instegram {
    background-image: url('/assets/images/icon-instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.footer-stuff {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
    cursor: pointer;
}

.header {
    margin-bottom: 15px;
    font-weight: bold;
}

.social-media {
    margin-top: 25px;
}

.footer-nav {
    margin-top: 20px;
}

.d-flex {
    display: flex;
}

.shorty {
    margin-right: 25px;
    font-size: 25px;
    font-weight: bold;
}

.nav-margin {
    margin-top: 7px;
}

.arrow {
    height: 10px;
    width: 90px;
    background-color: blueviolet;
    margin-top: 150px;
    margin-right: -72px;
    margin-left: -96px;
}

.left-box {
    margin-left: 20px;
}

.right-box {
    margin-left: -30px;
}

.left-most {
    margin-left: -25px;
}

.header-section {
    padding-bottom: 100px;
    background:whitesmoke;
}

@media only screen and (max-width: 1075px) {
    .big-text {
        font-size: 70px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1024px) {
    .big-text {
        font-size: 70px;
        font-weight: bold;
    }

    .error-text {
        margin-left: 25px;
        color: magenta;
        display: none;
        margin-top: -40px;
    }

    .input-url {
        background-image: url('/assets/images/bg-shorten-desktop.svg');
        width: 100%;
        border-radius: 5px;
        position: relative;
        background-color: mediumpurple;
    }

    .shortened-link {
        background-color: white;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        border-radius: 3px;
        margin: 20px auto;
    }

    .box {
        background-color: white;
        position: relative;
        width: 30%;
    }

    .left-box {
        margin-left: 0px;
    }
    
    .right-box {
        margin-left: 0px;
    }
    
    .left-most {
        margin-left: 0px;
    }
}

/* @media only screen and (max-width: 935px) {
    .big-text {
        font-size: 45px;
        font-weight: bold;
    }

    .input-url {
        background-image: url('/assets/images/bg-shorten-desktop.svg');
        width: 95%;
        border-radius: 5px;
        position: relative;
        background-color: mediumpurple;
    }

    .shortened-link {
        background-color: white;
        height: 40px;
        width: 98.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        border-radius: 3px;
        margin: 20px auto;
    }

    .error-text {
        margin-left: 20px;
        color: magenta;
        display: none;
        margin-top: -40px;
    }
} */

/* @media only screen and (max-width: 768px) {
    .big-text {
        font-size: 45px;
        font-weight: bold;
    }

    .input-url {
        background-image: url('/assets/images/bg-shorten-desktop.svg');
        width: 95%;
        border-radius: 5px;
        position: relative;
        background-color: mediumpurple;
    }

    .shortened-link {
        background-color: white;
        height: 40px;
        width: 98.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        border-radius: 3px;
        margin: 20px auto;
    }

    .error-text {
        margin-left: 5px;
        color: magenta;
        display: none;
        margin-top: -40px;
    }
} */

/* @media only screen and (max-width: 745px) {
    .big-text {
        font-size: 35px;
        font-weight: bold;
    }

    .input-url {
        background-image: url('/assets/images/bg-shorten-desktop.svg');
        width: 95%;
        border-radius: 5px;
        position: relative;
        background-color: mediumpurple;
    }

    .shortened-link {
        background-color: white;
        height: 40px;
        width: 98.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        border-radius: 3px;
        margin: 20px auto;
    }

    .error-text {
        margin-left: 5px;
        color: magenta;
        display: none;
        margin-top: -40px;
    }
} */

/* @media only screen and (max-width: 745px) {

    .big-text {
        font-size: 20px;
        font-weight: bold;
    }

    #origin-url {
        width: 85%;
        height: 40px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .btn-shorten {
        border-radius: 5px;
        background-color: lightblue;
        color: white;
        border: none;
        height: 40px;
        cursor: pointer;
        width: 85%;
        font-size: 18px;
    }

    .inner-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 145px;
    }
} */
